* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(3, 50px);
  margin-top: 100px;
}

div.container > div {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

button.new-board {
  margin: 15px auto;
  padding: 3px 15px;
}

p.result-display {
  margin-top: 20px;
}